<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	
	<typeAliases>
	    <typeAlias type="java.util.Map"  alias="map"/>
		<typeAlias type="it.korea.app_boot.board.dto.Board$Request" alias="boardReq"/>
		<typeAlias type="it.korea.app_boot.board.dto.Board$Response" alias="boardResp"/>
		<typeAlias type="it.korea.app_boot.board.dto.Board$BoardFiles" alias="boardFiles"/>
		<typeAlias type="it.korea.app_boot.board.dto.Board$Detail" alias="boardDetail"/>
		<typeAlias type="it.korea.app_boot.board.dto.BoardSearchDTO" alias="searchDTO"/>
		
		
	</typeAliases>


	
</configuration>
